.analysisTableBox{

    .tableTitle{
        padding: 6px 10px;
        margin-left: 10px;
        line-height: 35px;
        height: 45px;
        display: flex;
        justify-content: space-between;
    }
    .tableContent{
        .ant-table-thead{

            background-color: white;
        }
    }
}