.orderStatistic-title{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.timeSelect>span{
    margin-right: 10px;
    cursor: pointer;
}
.order-checked{
    color: red;
}