.container-OrderDetails {
    width: 100%;
    height: 100%;
    // background-color: white;
}
.container {
    margin: 20px;
  // height: 100%;
  background-color: white;
  p {
    height: 46px;
    // margin: 20px;
    // padding:20px 20px 0px 0px;
    padding:10px;
    background-color: rgb(246, 246, 246)
  };
 

}
.zhuangtai {
  height: 140px;
}
  .zhuangtai1 {
    margin: 20px;
    width: 100%;
    height: 40px;
  } 
 
  .Descriptions1 {
    // margin: 20px;
    padding: 20px;
    // left: 20px
  };

  // .xiangqing {
  //   margin: 20px;
  // }
